{namespace dce=T3\Dce\ViewHelpers}
{namespace c=TYPO3\CMS\Core\ViewHelpers}
<div class="typeicon">
	<f:if condition="{dce.wizardIcon} == 'custom'">
		<f:then>
			<img src="{dce.selectedWizardIconPath}" width="32c" height="32" />
		</f:then>
		<f:else>
			<c:icon identifier="{dce.selectedWizardIconPath}" size="default" />
		</f:else>
	</f:if>
	<div class="overlay bg-pink">
		<img src="{f:uri.resource(path:'Icons/ext_icon_white.png')}" />
	</div>
</div>
